{% extends 'base.html' %}

{% block content %}
{% include 'sidebar.html' %}


<div class="main--content">
    <div class="header--wrapper-gbic">
        <div class="header--title-gbic">
            <div class="form--dados--gbic">
                <form class="row g-3" id="form-dados">
                    <div class="col-md-12">
                        <label for="inputSerialNumber4" class="form-label">Serial Number</label>
                            <input type="text" class="form-control" id="inputSerialNumber4" placeholder="Serial Number">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPartNumber4" class="form-label">Part Number</label>
                            <input type="text" class="form-control" id="inputPartNumber4" placeholder="Part Number">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPosicao" class="form-label">Posição</label>
                            <input type="text" class="form-control" id="inputPosicao" placeholder="Posição">
                    </div>
                    <div class="form--button">
                        <a href="#" class="btn-adicionar">
                            <i class="fas fa-add"></i>
                        </a>
                        <a href="#" class="btn-pesquisar">
                            <i class="fas fa-search"></i>
                        </a>
                        <a href="#" class="btn-editar">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
              </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}