{% extends 'base.html' %}

{% block content %}
{% include 'sidebar.html' %}


<div class="main--content">
    <div class="header--gbic">
        <div class="header--title-gbic">
            <div class="form--dados--gbic">
                    {% include 'form_gbic.html' %}
                    <div class="form--button">
                        <a href="#" class="btn-adicionar" id="open-modal">
                            <i class="fas fa-add"></i>
                        </a>
                        <a href="#" class="btn-pesquisar">
                            <i class="fas fa-search"></i>
                        </a>
                        <div id="fade" class="hide"></div>
                        <div id="modal" class="hide">
                            <div class="modal-header">
                                <h4>Cadastro de Gbic's</h4>
                                <a href="#" class="btn-close-modal" id="close-modal">
                                    <i class="fas fa-close"></i>
                                </a>
                            </div>
                            <div class="body-modal">
                                {% include 'form_gbic.html' %}    
                            </div>
                          </div>
                        <!-- <a href="#" class="btn-editar">
                            <i class="fas fa-edit"></i>
                        </a> -->
                        
                    </div> 
             </div>       
            </div>
        </div>
        {% include 'tabela_gbic.html' %}
    </div>
    
</div>



{% endblock %}