<form class="row g-3" id="form-dados-cable">
    <div class="col-md-12">
        <label for="inputSerialNumber4" class="form-label">Serial Number</label>
            <input type="text" class="form-control" id="inputSerialNumber4" placeholder="Serial Number">
    </div>
    <div class="col-md-6">
        <label for="inputPartNumber4" class="form-label">Part Number</label>
            <input type="text" class="form-control" id="inputPartNumber4" placeholder="Part Number">
    </div>
    <div class="col-md-6">
        <label for="inputPosicao" class="form-label">Posição</label>
            <input type="text" class="form-control" id="inputPosicao" placeholder="Posição">
    </div>
    <div class="col-md-2">
        <label for="inputTipo" class="form-label">Tipo de Cabo</label>
          <select id="inputTipo" class="form-select">
            <option selected></option>
            <option>Twinx</option>
            <option>UTP</option>
            <option>Fibra</option>
          </select>
      </div>
</form>