{% extends 'base.html' %}

{% block content %}
{% include 'sidebar.html'%}

<div class="main-tcc">
    
    <div class="left-tcc">
        <h1>TCC Controle de Estoque <br>Curso: Engenharia da Computação </h1>
        <h2>Feito por Eliezer Domiciano!!!</h2>
        <img src="../static/img/svg/tcc.svg" alt="Estoque" class="left-tcc-img">
    </div>
    <div class="right-tcc">
        <div class="card-tcc">
          <h1>Introdução do TCC</h1>
          <hr/>
            <div class="textfield">
                <h2>
                    <p>
                        Este presente Trabalho, visa apresentar
                    uma solução de um problema realcionado a tempo e
                    trabalho repetitivo, sendo efetuado mensalmente.
                    </p>
                    <br>
                    <p>
                        Este **TRABALHO DE CONCLÚSÃO DE CURSO, visa
                        facilitar e auxiliar no dia-a-dia desta empresa
                        onde os funcionarios efetuam trabalhos repetitivos
                        sendo assim visando uma melhoria no tempo de trabalho
                        e na qualidade do serviço será apresentado uma automação
                        de alguns processos que são repetidos mensalmente que são as
                        verificações do estoque de cabeamento e Gbic com Posição, 
                        se consta no banco de dados e a possibilidade de fazer a 
                        adição de novos compostos.
                    </p>
                    

                </h2>
            </div>
        </div>
    </div>
  </div>

{% endblock %}

