<div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
        <li class="active">
            <a href="{{url_for('home')}}">
                <i class="fas fa-home"></i>
                <span>Inicio</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('cable')}}">
                <i class="fas fa-bolt"></i>
                <span>Cabeamento</span>
            </a>
        </li>
        <li>
            <a href="{{url_for('controle_peca')}}">
                <i class="fas fa-hard-drive"></i>
                <span>Controle de Gbic's</span>
            </a>
        </li>
        
    </ul>
</div>
