<table id="tblEditavel">
    <thead>
    <tr>
        <th id="SerialNumber">Serial Number</th>
        <th id="ParteNumber">Part Number</th>
        <th id="Modelo">Modelo</th>
        <th id="Fabricante">Fabricante</th>
        <th id="Posicao">Posição</th>
        <th id="Estado">Estado</th>
        
    </tr>

    <tbody>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </tbody>
    
</thead>
</table>